<div class="dialog-container">
  <mat-dialog-content>
    <h1>Delete message</h1>
    <span>Do you really want to delete this message? This cannot be undone.</span>
    <mat-card class="message_card">
      <mat-card-header>
        <mat-card-title>
          <span>{{ service.currentMessage.author }}</span>
          <span>{{ service.currentMessage.timestamp }}</span>
        </mat-card-title>
        <mat-card-subtitle [innerHTML]="service.currentMessage.msg">{{ service.currentMessage.msg }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions class="button_container">
    <button mat-raised-button mat-dialog-close>cancel</button>
    <button mat-raised-button (click)="deleteMessage()">delete</button>
  </mat-dialog-actions>
</div>