<mat-dialog-content>

    <h2>Delete message</h2>
    <p>Do you really want to delete this message? This cannot be undone.</p>
  
    <mat-card class="message_card">
      <mat-card-header>
        <mat-card-title>
            <span>{{ channel.currentMessage.author }}</span>
            <span>{{ channel.currentMessage.timestamp }}</span>
        </mat-card-title>
        <mat-card-subtitle [innerHTML]="channel.currentMessage.msg">{{ channel.currentMessage.msg }}</mat-card-subtitle>
      </mat-card-header>
  
    </mat-card>
  
  </mat-dialog-content>
  
  <mat-dialog-actions class="button_container">
  
    <button mat-raised-button mat-dialog-close>cancel</button>
    <button mat-raised-button (click)="deleteMessage()" color="warn">delete</button>
  
  </mat-dialog-actions>
