.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headline {
        display: flex;
        align-items: center;
    }

    .header-add {

        .material-icons {
            font-size: 18px;
        }
    }

}

.addItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}