<mat-selection-list [multiple]="false">
  <div class="header-container">
    <div class="headline" (click)="openChannelPanel = !openChannelPanel">
      <mat-icon>{{
        openChannelPanel ? "arrow_drop_down" : "arrow_right"
      }}</mat-icon>
      <span>Channels</span>
    </div>
    <div class="header-add">
      <mat-icon>add</mat-icon>
    </div>
  </div>
  <div *ngIf="openChannelPanel">
    
    <mat-list-item *ngFor="let channel of channels">
      <div matListItemTitle routerLink="channel/{{ channel.customIdName }}"># {{ channel.channelName }}</div>
    </mat-list-item>
    <mat-list-item>
      <div class="addItem" matListItemTitle>
        <mat-icon>add</mat-icon>
        <span (click)="openDialogAddChannel()">Channel hinzufügen</span>
      </div>
    </mat-list-item>
  </div>
</mat-selection-list>
<mat-selection-list [multiple]="false">
  <div class="header-container">
    <div class="headline" (click)="openChatsPanel = !openChatsPanel">
      <mat-icon>{{
        openChatsPanel ? "arrow_drop_down" : "arrow_right"
      }}</mat-icon>
      <span>Chats</span>
    </div>
    <div class="header-add" routerLink="/home/create-chat">
      <mat-icon>add</mat-icon>
    </div>
  </div>
  <div *ngIf="openChatsPanel">
    <mat-list-item *ngFor="let chat of chats">
      <div matListItemTitle>{{ chat }}</div>
    </mat-list-item>
    <mat-list-item>
      <div class="addItem" matListItemTitle>
        <mat-icon>add</mat-icon>
        <span>Chat hinzufügen</span>
      </div>
    </mat-list-item>
  </div>
</mat-selection-list>
