@import 'src/modules/_vars';

.mat-toolbar-single-row {
    height: $height-searchbar !important;
}

mat-toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $bgClr-secondary;
    color: $txt-clr-secondary;

    .searchbar-container {
        display: flex;
        align-items: center;

        .searchbar {
            width: clamp(170px, 55vw, 500px);
            height: 30px;
            border-radius: 5px;
            outline: none;
            background-color: $bgClr-input;
            padding: 0 8px;
            border: 1px solid $border-clr-input;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $txt-clr-secondary;
                opacity: 1;
                /* Firefox */
            }
        }
    }


    .settings {
        position: absolute;
        right: 15px;
        display: flex;
        justify-self: flex-end;
        align-items: center;
        gap: 10px;

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 40
        }

        &:hover {
            cursor: pointer;
        }
    }

    .toggle-btn {
        position: absolute;
        left: 15px;
        transition: all 0.35s ease-in-out;
    }

    .rotate {
        rotate: 180deg;
        transition: all 0.5s ease-in-out;
    }
}