$bgClr-start: #4a154b;
$bgClr-primary: #1A1D21;
$bgClr-secondary: #000;
$bgClr-thirdary: #fff;
$bgClr-input: #333333;
$bgClr-newChat: #222529;

//border-color
$border-clr: #313438;
$border-clr-input: #464646;

//text-color
$txt-clr-primary: #B7B8B9;
$txt-clr-secondary: #fff;
$txt-clr-thirdary: #000;
$txt-clr-h1: #fff;
$txt-clr-h2: #D1D2D3;
$txt-clr-link: #1D9BD1;
$txt-clr-new: #DE4E2B;

//font-sizes
$fs-s: 12px;
$fs-m: 14px;
$fs-regular: 16px;
$fs-l: 18px;
$fs-xl: 20px;
$fs-xxl: 22px;

//padding
$padding-sidenav-header: 10px 15px;
$padding-sidenav-content: 0 10px;
$padding-messages: 16px;

//sizes
$size-profile-img: 30px;
$height-searchbar: 45px;
$height-headers: 50px;
$icon-size: 24px;
$size-profile-img-chatroom: 40px;

// borders
$border-primary: 1px solid $border-clr;

//border-radius
$br-primary: 5px;
$br-secondary: 10px;

//status
$online: #39E500;
$absent: #F4F4F4;

//gap
$gap-primary: 8px;

//texteditor
$bgClr-txtEditor: #222529;
$textEditor-icons-clr: #4C4E51;

//button
$sign-in-btn-clr: #007a6a;
$btn-clr-green: #007A5A;

//transition
$transition-hover: all 75ms ease-in;