<mat-toolbar>
  <mat-toolbar-row>
    <!-- New solution for toggle sidenav -->
    <!-- <button mat-icon-button class="example-icon" (click)="toggler.toggleNav()" *ngIf="viewportWidth">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Direct message</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>To:</span>
    <div
      class="selectedUser-container"
      *ngFor="let selectedUser of chatService.selectedUserList; let i = index"
    >
      <div class="selectedUser">
        <div class="img-container sidenav-shrink">
          <img
            class="profile-img"
            src="assets/img/slack-big.svg"
            alt="profile-img"
          />
        </div>
        <span>
          {{ selectedUser.userName }}
        </span>
        <mat-icon (click)="chatService.spliceUser(i)">close</mat-icon>
      </div>
    </div>
    <input
      type="text"
      (ngModelChange)="searchUser($event)"
      [matAutocomplete]="searchedUsers"
      [(ngModel)]="value"
      #usersField
      placeholder="@someone or someone@some.one"
    />
    <!-- autofocus -->
    <mat-autocomplete #searchedUsers="matAutocomplete">
      <div *ngIf="value !== ''">
        <div *ngFor="let user of userService.users">
          <mat-option
            *ngIf="
              user.userName.toLowerCase().includes(chatService.foundedUsers) &&
              user.userName.toLowerCase() !== 'guest'
            "
            (click)="chatService.setToChatList(user)"
          >
            <span>
              {{ user["userName"] }}
            </span>
          </mat-option>
        </div>
      </div>
    </mat-autocomplete>
  </mat-toolbar-row>
</mat-toolbar>
<div class="last-messages">
  <div class="message">
    <p>{{ lastMessages.date }}</p>
    <mat-card>
      <mat-card-content>
        <span>{{ lastMessages.name }}</span>
        <span>{{ lastMessages.message }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="texteditor-container">
  <app-message-box [textBoxPath]="textBoxPath"></app-message-box>
  <!-- *ngIf="visibleTextEditor" -->
</div>
