<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" (click)="toggler.toggleNav()" *ngIf="viewportWidth">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Direct message</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>To:</span><input type="text" (ngModelChange)="searchUser($event)" [matAutocomplete]="searchedUsers"
      [(ngModel)]="value" #usersField />
    <!-- autofocus -->
    <mat-autocomplete #searchedUsers="matAutocomplete">
      <div *ngIf="value !== ''">
        <div *ngFor="let user of userService.users">
          <mat-option
            *ngIf="user.userName.toLowerCase().includes(foundedUsers) && user.userName.toLowerCase() !== 'guest'"
            (click)="createChat(user.id)">
            <span>
              {{ user['userName'] }}</span>
          </mat-option>
        </div>
      </div>
    </mat-autocomplete>
  </mat-toolbar-row>
</mat-toolbar>
<div class="last-messages">
  <div class="message">
    <p>{{ lastMessages.date }}</p>
    <mat-card>
      <mat-card-content>
        <span>{{ lastMessages.name }}</span>
        <span>{{ lastMessages.message }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>