@import 'src/modules/_vars';

.dialog-container{
    width: 400px;
    height: 500px;
    // background-color: $bgClr-newChat;
    // border-radius: 10px;

    h1{
        margin-top: 32px;
        margin-bottom: 30px;
        font-size: 36px;
    }

    .form-container{
        margin-top: 40px;
    }

    span{
        padding-left: 8px;
    }

    .btn-container{
        margin-top: 30px;
    }

    mat-form-field{
        display: flex;
        flex-direction: column;
    }
}