.welcome-card {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

    .leftframe {
        span {
            background-color: #ABABAD;
            padding: 6px;
            border-radius: 5px;
        }
    }

    .welcome-content {
        margin-left: 24px;
    }
}

.highlight {
    color: #1D9BD1;
    font-weight: bold;
}

.message-container{
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 24px;
}