<mat-card class="welcome-card">
  <div class="leftframe">
    <span class="material-symbols-outlined">
      tag
    </span>
  </div>
  <mat-card-content class="welcome-content">
    <span>
      Thats the beginning of this channel <span class="highlight">#{{ channel.currentChannel.channelName }}</span>
    </span><br>
    <span>This Channel was created at: 12.05.2022</span><br>
    <span>Channeldescription: <span class="highlight">#{{ channel.currentChannel.channelDescription }}</span></span>
  </mat-card-content>
</mat-card>

<mat-card class="message-container" *ngFor="let message of channel.allMessages; let i=index ">
  <div>
    <div class="">
      {{ message.author }} {{ message.timestamp }}
    </div>
    <span>
      {{ message.msg }}
    </span>
  </div>
</mat-card>

<app-message-box></app-message-box>