<div class="main-container">
  <div class="channels-content-container">
    <div class="heading"># {{ currentChannel?.channelName }}</div>
    <div class="scroll-box" #scrollBox>
      <!-- <mat-card class="welcome-card">
        <div class="leftframe">
          <span class="material-symbols-outlined"> tag </span>
        </div>
        <mat-card-content class="welcome-content">
          <span>
            Thats the beginning of this channel
            <span class="highlight"
              >#{{ currentChannel?.channelName }}</span
            > </span
          ><br />
          <span>This Channel was created at: {{ currentChannel?.created }}</span
          ><br />
          <span
            >Channeldescription:
            <span class="highlight"
              >#{{ currentChannel?.channelDescription }}</span
            ></span
          >
        </mat-card-content>
      </mat-card> -->
      <mat-card
        class="message-container"
        *ngFor="let message of allMessages; let i = index"
      >
        <div class="img-container">
          <img
            class="profile-img"
            src="assets/img/profile-img.jpg"
            alt="profile-img"
          />
        </div>
        <div class="message-content">
          <div class="">
            <strong>{{ message.author | titlecase }}</strong>
            {{ message.timestamp }}
          </div>
          <span>
            {{ message.msg }}
          </span>
          <span class="open-thread-link" (click)="openThread(message.id)"
            >{{ message.comments }} Antworten</span
          >
        </div>
        <!-- <button (click)="openDeleteMessageDialog()" mat-raised-button>
          <mat-icon>delete</mat-icon>
      </button> -->
      </mat-card>
    </div>
    <app-message-box
      class="message-box"
      [textBoxPath]="textBoxPath"
    ></app-message-box>
  </div>
  <app-thread *ngIf="channel.threadOpen"></app-thread>
</div>
