@import 'src/modules/_vars';


.chatroomContainer {
    height: 100%;

    mat-toolbar-row {
        padding: 0 16px;
        border: 1px solid #313438;
        height: 50px;
        font-size: 18px;

        .img-container-chatroom {
            position: relative;
            height: $size-profile-img-chatroom;
            aspect-ratio: 1;

            .profile-img {
                height: inherit;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: $br-primary;
            }

        }
    }

    .message-container {
        margin-top: 8px;
        // margin-left: 50px;
        // margin-right: 50px;
        line-height: 24px;
        background-color: transparent;
        color: #D1D2D3;
        display: flex;

        button {
            display: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);

            button {
                display: block;
            }
        }

        .img-container {
            margin-right: 24px;
        }

        .message-content {
            display: flex;
            flex-direction: column;

            .open-thread-link {
                cursor: pointer;
                color: #1D9BD1;
                font-weight: bold;
            }
        }

    }

    .scroll-box {
        height: calc(100% - 50px - 137.5px);
        overflow-y: auto;
    }
}