@import 'src/modules/_vars';


.chatroomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .img-container-chatroom {
        position: relative;
        height: $size-profile-img-chatroom;
        aspect-ratio: 1;

        .profile-img {
            height: inherit;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: $br-primary;
        }

    }


    .message-container {

        &:hover {
            background-color: $bgClr-newChat;

            .option-box {
                // opacity: 1;
            }
        }

        .option-box {
            display: flex;
            align-items: center;
            position: absolute;
            right: 16px;
            top: -20px;
            border-radius: $br-secondary;
            background-color: $bgClr-primary;
            border: $border-primary;
            // opacity: 0;

            .option {
                padding: 5px;
                display: flex;

                &:hover {
                    background-color: $bgClr-newChat;
                    border-radius: $br-secondary;
                    cursor: pointer;
                }

                mat-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $txt-clr-primary;
                    font-size: $fs-l;

                    &:hover {
                        color: white;
                    }
                }

            }
        }

    }
}


.menu-options {
    .delete {
        color: #df205a;
    }

    button {
        color: $txt-clr-primary;
    }
}