<div class="chatroomContainer">
  <div class="heading">
    <div class="img-container-chatroom sidenav-shrink">
      <img
        class="profile-img"
        src="assets/img/slack-big.svg"
        alt="profile-img"
      />
      <div class="dot-sidenav online"></div>
    </div>
    <span
      *ngFor="let otherUser of chatService?.currentChatMembers; let last = last"
    >
      {{ otherUser.userName }}<ng-container *ngIf="!last">,</ng-container>
    </span>
  </div>

  <div class="scroll-box" #scrollBox>
    <mat-card class="first-message-container">
      <div class="img-container">
        <img
          class="profile-img"
          src="assets/img/slack-big.svg"
          alt="profile-img"
        />
      </div>

      <div class="message-content">
        <span
          *ngFor="
            let otherUser of chatService?.currentChatMembers;
            let last = last
          "
        >
          {{ otherUser.userName }}
        </span>
        <span
          >Diese Unterhaltung findet nur zwischen
          <span class="highlight"
            >@<span
              *ngFor="
                let otherUser of chatService?.currentChatMembers;
                let last = last
              "
            >
              {{ otherUser.userName
              }}<ng-container *ngIf="!last">,</ng-container></span
            >
          </span>
          und dir statt.</span
        >
      </div>
    </mat-card>
    <mat-card
      class="message-container"
      *ngFor="let message of chatService?.currentChatMessages; let i = index"
    >
      <div class="option-box">
        <div class="option">
          <mat-icon matTooltip="Reaktion hinzufügen"> add_reaction </mat-icon>
        </div>
        <div class="option">
          <mat-icon
            matTooltip="Im Thread antworten"
            (click)="openThread(message)"
          >
            comment
          </mat-icon>
        </div>
        <!-- <div class="option">
          <mat-icon matTooltip="Delete message"> delete </mat-icon>
        </div> -->
        <!-- <div class="option">
          <mat-icon matTooltip="Lesezeichen hinzufügen"> bookmark </mat-icon>
        </div> -->
        <!-- <div class="option">
          <mat-icon matTooltip="Lesezeichen hinzufügen"> bookmark </mat-icon>
        </div> -->
        <div class="option">
          <mat-icon matTooltip="Weitere Aktionen" [matMenuTriggerFor]="menu">
            more_vert
          </mat-icon>
        </div>

        <mat-menu #menu="matMenu" class="del-menu">
          <div class="menu-options">
            <button
              mat-menu-item
              class="hoverEdit"
              *ngIf="userService.currentUser?.userName == message.author"
              (click)="changePath(message)"
            >
              Nachricht bearbeiten
            </button>
            <button
              mat-menu-item
              class="delete"
              (click)="service.openDeleteMessageDialog(message)"
              *ngIf="userService.currentUser?.userName == message.author"
            >
              Nachricht löschen
            </button>
            <button
              *ngIf="userService.currentUser?.userName != message.author"
              mat-menu-item
            >
              Nicht deine Nachricht
            </button>
          </div>
        </mat-menu>
      </div>

      <div class="img-container">
        <img
          class="profile-img"
          src="assets/img/slack-big.svg"
          alt="profile-img"
        />
      </div>

      <div class="message-content">
        <div>
          <strong>{{ message.author | titlecase }}</strong>
          {{ message.timestamp }}
        </div>

        <span [innerHTML]="message.msg"></span>
        <div class="comments-container" *ngIf="message.comments">
          <div class="hover-container">
            <span class="open-thread-link" (click)="openThread(message)">
              {{ message.comments }} Antworten
            </span>
            <span class="open-thread-info">Thread anzeigen</span>
          </div>
          <mat-icon class="arrow">navigate_next</mat-icon>
        </div>

        <div class="phils-div-box-zum-stylen-des-editors">
          <app-message-box
            *ngIf="chatService.msgToEdit == message"
            [textBoxPath]="textBoxPathEdit"
          ></app-message-box>
        </div>
      </div>
    </mat-card>
  </div>

  <div>
    <app-message-box [textBoxPath]="textBoxPath"></app-message-box>
  </div>
</div>
<app-chat-thread *ngIf="chatService.threadOpen"></app-chat-thread>
