<div class="chatroomContainer">
  <div class="heading">
    <div class="img-container-chatroom sidenav-shrink">
      <img
        class="profile-img"
        src="assets/img/profile-img.jpg"
        alt="profile-img"
      />
      <div class="dot-sidenav online"></div>
    </div>
    <span
      *ngFor="let otherUser of chatService.currentChatMembers; let last = last"
    >
      {{ otherUser.userName }}<ng-container *ngIf="!last">,</ng-container>
    </span>
  </div>

  <div class="scroll-box" #scrollBox>
    <mat-card
      class="message-container"
      *ngFor="let message of chatService.currentchatMessages; let i = index"
    >
      <div class="img-container">
        <img
          class="profile-img"
          src="assets/img/profile-img.jpg"
          alt="profile-img"
        />
      </div>
      <div class="message-content">
        <div class="">
          <strong>{{ message.author | titlecase }}</strong>
          {{ message.timestamp }}
        </div>
        <span [innerHTML]="message.msg"></span>
        <span class="open-thread-link">{{ message.comments }} Antworten</span>
      </div>
    </mat-card>
  </div>

  <app-message-box [textBoxPath]="textBoxPath"></app-message-box>
</div>
