<div class="main-content">
  <mat-card>
    <div class="user-info-box">
      <div class="img-container">
        <img
          class="profile-img"
          src="assets/img/slack-big.svg"
          alt="profile-img"
        />
      </div>

      <div class="user-info">
        <mat-card-title *ngIf="userService.currentUser$ | async as currentUser">
          {{ currentUser.userName }}
        </mat-card-title>

        <div class="online-status">
          <div class="dot-sidenav online"></div>
          <span>Active</span>
        </div>
      </div>
    </div>

    <mat-selection-list [multiple]="false">
      <mat-list-item>
        <div matListItemTitle [ngStyle]="{ cursor: 'pointer' }">
          <span (click)="logout(userService.currentUser)">Logout</span>
        </div>
      </mat-list-item>
    </mat-selection-list>
  </mat-card>
</div>
