@import 'src/modules/_vars';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#emoji-palette {
    top: -165px !important;
    left: 0px !important;
    height: 120px;
    overflow: hidden;
    max-width: 100% !important;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ng-star-inserted {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ql-editor.ql-blank::before {
    // color: white;
}