@import 'src/modules/_vars';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#emoji-palette {
    top: -165px !important;
    left: 0px !important;
    height: 120px;
    overflow: hidden;
    max-width: 100% !important;
}

.ql-toolbar {
    border-top-left-radius: $br-secondary !important;
    border-top-right-radius: $br-secondary !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ql-editor.ql-blank::before {
    color: #B7B8B9;
}

.ql-snow {
    border-bottom-left-radius: $br-secondary;
    border-bottom-right-radius: $br-secondary;
}

// .ql-editor.ql-blank::before {
//     // color: white;
// }


/* 
    Styling for the status of the user
*/


.dot-nav {
    outline: 4px solid $bgClr-secondary;
    position: absolute;
    bottom: -1.5px;
    right: -1.5px;
    border-radius: 100%;
    height: 10px;
    aspect-ratio: 1;

}

.dot-sidenav {
    outline: 4px solid $bgClr-primary;
    position: absolute;
    bottom: -1.5px;
    right: -1.5px;
    border-radius: 100%;
    height: 10px;
    aspect-ratio: 1;
}

.online {
    background-color: $online;
}

.absent {
    background-color: $bgClr-primary;
    border: 2.5px solid $absent;
}

.img-container {
    position: relative;
    height: $size-profile-img;
    aspect-ratio: 1;

    .profile-img {
        height: inherit;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: $br-primary;
    }

}

.sidenav-shrink {
    transform: scale(0.7);
}

.mat-list-item-content {
    padding: 0 !important;
}

.mat-toolbar-multiple-rows {
    min-height: unset !important;
}

//Scollbar Styling /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ABABAD;
    -webkit-border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cacacc;
    
  }

     /* loading animation */
     #loading-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #D1D2D3;
        ;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #D1D2D3 transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }