<div class="thread-main-container">
  <div class="heading">
    <span># Thread {{ this.channel.currentChannel.channelName }}</span
    ><mat-icon class="close" (click)="closeThread()">close</mat-icon>
  </div>
  <div class="thread-content-container">
    <div class="message">
      <mat-card *ngIf="this.channel.threadMessage" class="message-container">
        <div class="img-container">
          <img
            class="profile-img"
            src="assets/img/profile-img.jpg"
            alt="profile-img"
          />
        </div>
        <div class="message-content">
          <div>
            <strong>{{
              this.channel.threadMessage?.author | titlecase
            }}</strong>
            {{ this.channel.threadMessage?.timestamp }}
          </div>
          <span [innerHTML]="this.channel.threadMessage?.msg"></span>
        </div>
      </mat-card>
    </div>
    <div class="scroll-box">
      <mat-card
        *ngFor="let comment of this.channel.allThreadComments; let i = index"
        class="comment-container"
      >
        <div class="img-container">
          <img
            class="profile-img"
            src="assets/img/profile-img.jpg"
            alt="profile-img"
          />
        </div>
        <div class="comment-content">
          <div class="">
            <strong>{{ comment.author | titlecase }}</strong>
            {{ comment.timestamp }}
          </div>
          <span [innerHTML]="comment.comment">
          </span>
        </div>
      </mat-card>
    </div>
  </div>
  <app-message-box
    class="message-box"
    [textBoxPath]="textBoxPath"
  ></app-message-box>
  <div *ngIf="this.channel.threadLoading" id="loading-container">
    <div class="lds-ring" id="loading-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
