@import 'src/modules/_vars';

.thread-main-container {
    width: 300px;
    border-left: 1px solid $border-clr;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .heading {
        justify-content: space-between;
     
        .close {
            cursor: pointer;
        }
    }

    .thread-content-container {
        height: 100%;
        overflow: hidden;


        .scroll-box {
            height: calc(100vh - 350px);
            .comment-container {
                background-color: transparent;
                color: #D1D2D3;
                display: flex !important;
                gap: 25px;
                border-bottom: 1px solid $border-clr;
                
                .comment-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
        } 
    }