@import 'src/modules/_vars';

.thread-main-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    max-height: 100%;
    border-left: $border-primary;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .heading-wrapper {

            h2 {
                margin: unset;
            }

            display: flex;
            align-items: center;
            gap: $gap-primary;
        }

        .channel-name {
            font-size: $fs-m;
            font-weight: 300;
        }

        .close {
            cursor: pointer;
        }
    }

    .thread-content-container {
        height: 100%;
        overflow: hidden;


        .scroll-box {
            max-height: calc(100vh - 344px);

            .answer-wrapper {
                display: flex;
                align-items: center;

                .answer {
                    display: flex;
                    font-size: $fs-m;
                    font-weight: 500;
                    white-space: nowrap;
                    padding: $padding-answer;
                }
                
                .devider {
                    border-top: 1px solid #313438;
                    width: 100%;
                    height: 1px;
                }
            }

            .comment-container {
                background-color: transparent;
                color: #D1D2D3;
                display: flex !important;
                gap: 25px;
                border-bottom: 1px solid $border-clr;

                .comment-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                &:hover {
                    background-color: $bgClr-newChat;
                }
            }
        }
    }
}

@media (max-width:900px) {
    :host {
        position: absolute;
        background-color: $bgClr-primary;
        left: 0;
        right: 0;
    }
    
    .thread-main-container {
        width: unset;
        min-height: calc(100vh - 46px);   
    }
}