.thread-main-container {
    width: 400px;
    border-left: 1px solid #313337;
    min-height: calc(100vh - 47px);
    position: relative;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 51px;
        border-bottom: 1px solid #323438;
        font-size: 16px;
        font-weight: bold;
        padding-left: 16px;
        padding-right: 16px;

        .close {
            cursor: pointer;
        }
    }

    .thread-content-container {
        .message-container {
            margin-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
            line-height: 24px;
            background-color: transparent;
            color: #D1D2D3;
            display: flex;
            border-bottom: 1px solid #323438;

            .img-container {
                margin-right: 24px;
            }

            .message-content {
                display: flex;
                flex-direction: column;
            }
        }

        .comment-container {
            display: flex;
            padding-left: 30px;
            margin: 10px 0;

            .comment-content {
                margin-left: 24px;
            }
        }
    }

    .message-box {
        position: fixed;
        bottom: 0;
    }

 
}