mat-drawer-container {
    height: 100vh;
    width: 100%;
}

mat-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.workspace {
    display: flex;
    align-items: center;
    padding: 20px;

    h1 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
        margin: 0;
    }

    .new-chat-container {
        border-radius: 100%;
        height: 20px;
        aspect-ratio: 1;
    }
}