<app-searchbar #searchbar></app-searchbar>
<mat-drawer-container class="content-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [opened]="this.toggler.open"
    [mode]="this.toggler.type"
  >
    <div class="workspace heading">
      <h1>Developer Akademie</h1>
      <div class="new-chat-container">
        <mat-icon
          class="material-symbols-outlined"
          routerLink="/home/create-chat"
          >edit_square</mat-icon
        >
      </div>
    </div>

    <app-nav-tree></app-nav-tree>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

<!-- 
  Todos:
  searchbar ( no function right now) => Rico
  highglight new messages => nur noch kleiner bug in chts => Tobi
  Load only 20 of the newest messages in Chats and channels ???Optional
  Anzahl der Thread messages wird in chats nicht angezeigt => Phil
  responsive all( Fertig bhnachrichten muss noch vertknüpft werden => Victor, kannst du das mit verknüpfen?
  Bei neuen Nachrichten in Chats Flackern die messages( kompletter reload)
  Bei nachrichten senden in chats wird auch der Nav tree neu geladen. Kein Plan warum
  Bei Browser reload in chats werden keine Infos und keine messages angezeigt
  Wenn wir auf einen chat gehen und danach wieder auf einen channel und eine neue nachricht senden, werden die nachrichten mehrfach geladen
 -->
