@import 'src/modules/_vars';

:host {
    height: 100vh;
    width: 100%;
}

mat-drawer-container, mat-drawer {
    background-color: $bgClr-primary !important;
    color: $txt-clr-primary;
    border: $border-primary;
    border-top: none !important;
}

mat-drawer-container {
    position: relative !important;

    .toggle-btn {
        position: absolute;
        top: 0;
    }
}


.content-container {
    height: calc(100% - $height-searchbar);

    mat-toolbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .workspace {        
        
        h1 {
            margin: 0;
            width: 150px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 18px;
        }

        .new-chat-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: 5px 5px;
            height: 40px;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: $bgClr-thirdary;
            color: $txt-clr-thirdary;

            mat-icon {
                margin-bottom: 5px;
            }
        }
    }
}

