<app-searchbar #searchbar></app-searchbar>
<mat-drawer-container class="content-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [opened]="this.toggler.open"
    [mode]="this.toggler.type"
  >
    <div class="workspace heading">
      <h1>Developer Akademie</h1>
      <div class="new-chat-container">
        <mat-icon
          class="material-symbols-outlined"
          routerLink="/home/create-chat"
          >edit_square</mat-icon
        >
      </div>
    </div>

    <app-nav-tree></app-nav-tree>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

<!-- 
  Todos:
  searchbar ( no function right now) => Rico
  code sauber schreiben
  Bei neuen Nachrichten in Chats Flackern die messages( kompletter reload)
  Bei Browser reload in chats werden keine Infos und keine messages angezeigt
  Wenn wir auf einen chat gehen und danach wieder auf einen channel und eine neue nachricht senden, werden die nachrichten mehrfach geladen
 -->
