<app-searchbar #searchbar></app-searchbar>
<mat-drawer-container class="content-container" autosize>

  <mat-drawer #drawer class="sidenav" [opened]="this.toggler.open" [mode]="this.toggler.type">
    <div class="workspace heading">
      <h1>Developer Akademie</h1>
      <div class="new-chat-container">
        <mat-icon class="material-symbols-outlined" routerLink="/home/create-chat">edit_square</mat-icon>
      </div>
    </div>

    <app-nav-tree></app-nav-tree>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

<!-- 
  Todos:

  searchbar ( no function right now) => Rico
  highglight new messages => Tobi wird heute damit starten
  responsive all( Fertig bis auf Delete Message Dialog) => Victor macht den dialog fertig
  on login go to chat or channel
  bug in chats( if reload console error) => Phil, Kannst du da nochmal drüber schauen?
  scroll bug in channels ( scrolls to bottom on hover)
  Load only 20 of the newest messages in Chats and channels
  Avoid double names in channels
  Bug in chats, after change to guest user, same private chats are shown like for the user before
  Anzahl der Thread messages wird in chats nicht angezeigt
  dialog löschen von chat nachrichten muss noch vertknüpft werden => Victor, kannst du das mit verknüpfen?
  create channel funktioniert auch bei leeren feldern => Victor/Tobi
  vielleicht profilbild zu avatar ändern
 -->